.carousel-wrapper {
  position: relative;
  overflow: hidden; /* Cut overflowing content */
  margin-bottom: 2rem;
}

.carousel-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4rem;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--border-brand);
  border-radius: 0.75rem;
  pointer-events: none;
  z-index: 2;
}

.carousel-control {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden; /* ← обязательно */
  background-color: var(--bg-secondary);
  scrollbar-width: none;
  scroll-behavior: smooth;
  border-radius: 0.75rem;
  position: relative;     /* ← обязательно для clip */
  clip-path: inset(0);    /* ← подстраховка для Safari */
}


.carousel-control::-webkit-scrollbar {
  display: none;
}

.carousel-option {
  flex: 0 0 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-secondary);
  border-radius: 0.75rem;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: border-box;
}

.carousel-option:active {
  background-color: var(--bg-secondary-active);
}

.carousel-option.selected {
  color: var(--text-brand);
  font-weight: 600;
}
