.container {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-width: 27.5rem;
  width: 100%;
  padding: 3rem 2rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  opacity: 1;
  pointer-events: none;
}

.carousel-wrapper .carousel {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-wrapper.ready {
  pointer-events: auto;
}

.carousel-wrapper.ready .carousel {
  opacity: 1;
}

.carousel-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4rem;
  height: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border: 0.125rem solid var(--border-brand);
  border-radius: 0.75rem;
  pointer-events: none;
  z-index: 2;
  box-sizing: border-box;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  background-color: var(--bg-secondary);
  scrollbar-width: none;
  scroll-behavior: smooth;
  border-radius: 0.75rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 1;
  cursor: ew-resize;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  flex: 0 0 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--text-secondary);
  border-radius: 0.75rem;
  user-select: none;
  cursor: pointer;
  scroll-snap-align: center;
}

.carousel-item.selected {
  color: var(--text-brand);
  font-weight: 600;
}

.carousel-padding {
  flex: 0 0 auto;
  width: calc((100vw - 4rem - 4rem) / 2);
}
